{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/treeview.css' %}">

{% include 'components/templates/v-item.html' %}
{% include 'components/templates/v-table.html' %}
{% include 'components/templates/v-spinner.html' %}
{% include 'components/templates/v-toolbar.html' %}
{% include 'components/templates/v-modal.html' %}

<div id="app">
    <v-modal v-show="modalOn" :content="modalContent" :status="modalStatus">
    </v-modal>
    <v-toolbar>
        <div class="tooltip2">
            <i class="fas fa-check p-3 iconhover" @click="updateShippingInfo()"></i>
            <span class="tooltiptext2 fade-in">Confirm</span>
        </div>
    </v-toolbar>
    <div class="row">
        <div class="col-4">
            <div class="card" style="max-height: 300px;">
                <p style="font-weight: 700; font-size: 15px;" class="p-1 bg-dark text-white">
                    <span style="margin-right: 1rem"> </span>
                    <span style="margin-right: 4rem">Stock Status</span>
                    <span>Live</span>
                </p>
                <div v-if="loading" class="text-center ">
                    <div>
                        <v-spinner></v-spinner>
                    </div>
                </div>
                <div class="tree-container mb-3" v-else>
                    <tree-item :item="treeData" @selected-item="addToSelected" :hierarchy="hier"></tree-item>
                </div>
            </div>
        </div>
    </div>
</div>



{% include 'components/registeration/v-components.html' %}
<script>
    var app = new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: {
            batches: [],
            shippingInfos: [],
            myLabels: [
                ["Batch ID", "id"],
                ["Product ID", "product"],
                ["Quantity", "quantity"],
                ["Price", "price"],
            ],
            key: 'id',
            selected: null,
            selectedShippingInfo: null,
            modalContent: '',
            // loading: true,
            modalStatus: '',
            modalOn: false,
            treeData: {},
            rawData: [],
            hier: {},
            loading: true,
            selectedNodes: [],
        },
        methods: {
            showModal(status, content, timeout = 2000) {
                this.modalOn = true;
                this.modalContent = content
                this.modalStatus = status
                setTimeout(() => {
                    this.modalOn = false
                }, timeout);
            },
            addToSelected(item) {
                var myNode = this.hier.descendants().find(node => {
                    if (node.data == item) {
                        return true
                    }
                })
                if (this.selectedNodes.includes(myNode)) {
                    this.selectedNodes.pop(myNode)
                } else {
                    if (_.flattenDeep(this.multiselectedNodes).includes(myNode)) {
                    } else {
                        this.selectedNodes.push(myNode)
                    }
                }
            },

            selectedRow(item) {
                if (this.selected !== item) {
                    this.selected = item
                } else {
                    this.selected = null
                }
                // this.selected = item;

            },
            async init() {
                axios.defaults.xsrfCookieName = 'csrftoken';
                axios.defaults.xsrfHeaderName = 'X-CSRFToken';

                await axios
                    .get(`/purchase/batch-list`)
                    .then(response => (this.batches = response.data))

                await axios
                    .get(`/inventory/shipping-infos-list`)
                    .then(response => (this.shippingInfos = response.data))
                var nester = d3.nest()

                // Hierarchy on the basis of

                var keys = nester.key(item => item.stock_status)
                .key(item => item.batch_group_status)

                // Processing the Rest API data through d3

                var entry = nester.entries(this.batches)


                var tree = {
                    'key': '',
                    'on': true,
                    'values': entry
                }

                var h = d3.hierarchy(tree, item => item.values)

                this.treeData = h.data
                this.loading = false
                this.hier = h
            }
        },
        mounted() {
            this.init()
        }


    })
</script>


{% endblock %}